<th:block th:fragment="addAddressModal" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="addAddressModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm địa chỉ mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form th:action="@{/profile/add-address}" method="post" id="addAddressForm" th:object="${addAddressForm}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="newRecipientName" class="form-label">Tên người nhận</label>
                            <input type="text" class="form-control" id="newRecipientName" th:field="*{recipientName}">
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('recipientName')}" th:errors="*{recipientName}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newPhoneNumber" class="form-label">Số điện thoại</label>
                            <input type="tel" class="form-control" id="newPhoneNumber" th:field="*{phoneNumber}">
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newProvinceOrCity" class="form-label">Tỉnh/Thành phố</label>
                            <select class="form-select" id="newProvinceOrCity" th:field="*{provinceOrCity}" onchange="loadDistrictAdd()">
                                <option value="">-- Chọn tỉnh/thành phố --</option>
                            </select>
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('provinceOrCity')}" th:errors="*{provinceOrCity}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newDistrict" class="form-label">Quận/Huyện</label>
                            <select class="form-select" id="newDistrict" th:field="*{district}" onchange="loadWardAdd()">
                                <option value="">-- Chọn quận/huyện --</option>
                            </select>
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('district')}" th:errors="*{district}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newWard" class="form-label">Phường/Xã</label>
                            <select class="form-select" id="newWard" th:field="*{ward}">
                                <option value="">-- Chọn phường/xã --</option>
                            </select>
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('ward')}" th:errors="*{ward}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newStreetDetails" class="form-label">Địa chỉ chi tiết</label>
                            <textarea class="form-control" id="newStreetDetails" th:field="*{streetDetails}" rows="2"></textarea>
                            <div class="text-danger small mt-1" th:if="${#fields.hasErrors('streetDetails')}" th:errors="*{streetDetails}"></div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="newIsDefault" th:field="*{defaultAddress}">
                            <label class="form-check-label" for="newIsDefault">Đặt làm địa chỉ mặc định</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
